<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}"></p>
<br>

<div th:if="${owner.isEmpty()}">
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${person}">
        <p>This book has no owner. To whom should be assigned?</p>
        <label for="person">Choose a person:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Set book">
    </form>

</div>

<div th:if="${owner.isPresent()}">
    <form th:method="PATCH" th:action="@{/books/{id}/remove(id=${book.getId()})}">
        <label for="person">Book owner: </label>
        <p th:text="${book.getOwner().getName()}"></p>
        <input type="submit" value="Pick up the book">
    </form>
</div>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">
    <button>Edit</button>
</a>
<form th:method="DELETE" th:action="@{/books/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>